*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  font-family: 'Roboto', sans-serif;
}

/* Início Cabeçalho */
.header {
  background: linear-gradient(135deg, #0c1c3a, #092b51); /* Gradiente azul escuro */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra suave aumentada */
  color: #fff; /* Cor do texto */
  padding: 30px 0; /* Espaçamento interno */
  position: fixed; /* Fixa o cabeçalho no topo */
  width: 100%; /* Ocupa toda a largura da tela */
  z-index: 1000; /* Coloca o cabeçalho sobre outros elementos */
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px; /* Aumenta a largura máxima */
  padding: 0 30px; /* Espaçamento interno */
}

.header-logo img {
  height: 60px; /* Altura do logo */
  transition: transform 0.3s; /* Transição suave para o logo */
}

.header-logo img:hover {
  transform: scale(1.1); /* Aumenta o tamanho do logo no hover */
}

.header-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav ul li {
  margin-left: 40px; /* Espaçamento entre os itens do menu */
}

.header-nav ul li:first-child {
  margin-left: 0; /* Remove a margem do primeiro item */
}

.header-nav ul li a {
  color: #fff; /* Cor do texto do menu */
  font-weight: bold;
  position: relative;
  text-decoration: none;
  transition: color 0.3s; /* Transição suave da cor do texto */
}

.header-nav ul li a:before {
  background-color: #ffd700; /* Cor do underline */
  bottom: -5px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  width: 100%;
}

.header-nav ul li a:hover:before {
  transform: scaleX(1); /* Efeito de underline ao passar o mouse */
}

.header-title {
  border-right: 2px solid rgba(255, 255, 255, 0.5); /* Linha vertical separadora com transparência */
  font-size: 24px; /* Tamanho da fonte do título */
  font-weight: bold;
  letter-spacing: 2px; /* Espaçamento entre as letras */
  margin-right: 30px; /* Espaçamento à direita */
  padding-right: 30px; /* Espaçamento interno à direita */
  text-transform: uppercase;
}
/* Fim Cabeçalho */

hr{
  border-top-color: #ffd700;
}

/* Início Banner */
.banner{
  position: relative;
}

.banner-img{
  position: relative;
}

.banner-img img{
  height: calc(100vh - 30px);
  object-fit: cover;
  width: 100%;
}

.banner-overlay{
  color: #333; /* Cor do texto ajustada para garantir legibilidade */
  left: 50%;
  margin-bottom: 30px;
  margin-bottom: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner-overlay .btn{
  background-color: #ffd700;
  border-radius: 5px;
  color: #222;
  display: inline-block;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.banner-overlay .btn:hover{
  background-color: #f9a825;
}

.banner-overlay h2{
  color: #fff; /* Cor do título */
  font-size: 36px;
  margin-bottom: 20px;
}

.banner-overlay p{
  color: #fff; /* Cor do texto */
  font-size: 18px;
  margin-bottom: 30px;
}
/* Fim Banner */

/* Início Mensagem */
.message-container{
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10%;
  max-width: 1200px;
  padding: 80px 0;
}

.message-content{
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  position: relative;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.message-content:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.message-content .fa-solid{
  color: #ffd700;
  font-size: 30px; 
  margin-bottom: 20px;
}

.message-content h2{
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.message-content p{
  color: #666;
  line-height: 1.6;
}
/* Fim Mensagem */

/* Início Lista de Carros */
.car-section-title{
  background: linear-gradient(to right, #1e1e1e, #ff8c00);
  background-clip: text;
  color: transparent;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.car-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10%;
}

.car-item{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
  width: calc(50% - 15px);
}

.car-item:hover{
  transform: translateY(-5px);
}

.car-item img{
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.car-item h3{
  color: #333;
  font-size: 24px;
  margin: 20px 0 10px;
  text-align: center;
}

.car-item p{
  color: #666;
  text-align: center;
  flex-grow: 1;
}

.car-item a{
  background-color: #ffd700;
  border: none;
  border-radius: 0 0 10px 10px;
  color: #222;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.car-item a:hover{
  background-color: #f9a825;
}
/* Fim Lista de Carros */

/* Início Seção de Seguros de Carros */
.insurance-container{
  max-width: 1200px;
  margin: 0 10%;
  padding: 0 15px;
}

.section-title{
  background: linear-gradient(to right, #1e1e1e, #ff8c00); /* Gradiente sutil de preto para laranja */
  background-clip: text;
  color: #333; /* Cor preta suave */
  font-family: 'Roboto', sans-serif; /* Fonte moderna e limpa */
  font-size: 48px; /* Tamanho da fonte aumentado para destaque */
  font-weight: 700; /* Peso da fonte */
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidade */
  text-transform: uppercase;
  -webkit-background-clip: text; /* Aplica o gradiente apenas ao texto */
  -webkit-text-fill-color: transparent; /* Faz com que o texto seja transparente, mostrando o gradiente por trás */
}

.insurance{
  background-color: #f9f9f9;
  padding: 80px 0;
}

.insurance-wrapper{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}

.insurance-item{
  flex: 0 1 calc(50% - 20px);
  margin-bottom: 40px;
  max-width: calc(50% - 20px);
  text-align: center;
}

.insurance-item img{
  border-radius: 5px;
  max-width: 100%;
}

.insurance-text{
  font-size: 18px;
  line-height: 1.5;
}

.btn-saiba-mais{
  background-color: #ffd700;
  border: none;
  border-radius: 5px;
  color: #222; /* Cor do texto */
  cursor: pointer;
  display: block;
  font-size: 20px; /* Aumentando o tamanho da fonte para melhor legibilidade */
  letter-spacing: 1px; /* Espaçamento entre as letras para melhor legibilidade */
  margin: 0 auto;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave para o hover */
  width: 250px; /* Aumentando a largura do botão */
}

.btn-saiba-mais:hover{
  background-color: #f9a825; /* Tom mais escuro para o hover, em harmonia com o amarelo do botão */
  transform: scale(1.05); /* Efeito de aumento sutil ao passar o mouse para transmitir interatividade */
}
/* Fim Seção de Seguros de Carro */

/* Início Autopecas */
.autopecas-container{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 100px 10%;
}

.autopecas-container img{
  border-radius: 10px; /* Adiciona bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para efeito de elevação */
  height: auto;
  max-width: 50%;
}

.autopecas-content{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  padding: 20px; /* Espaçamento interno adicionado */
}

.autopecas-content h1{
  background: linear-gradient(to right, #1e1e1e, #ff8c00); /* Gradiente sutil de preto para laranja */
  color: #fff; /* Cor do texto alterada para branco */
  font-family: 'Roboto', sans-serif; /* Fonte moderna e limpa */
  font-size: 36px; /* Aumentando o tamanho da fonte para maior destaque */
  font-weight: 700; /* Adicionando negrito para mais impacto */
  margin: 20px 0 10px; /* Ajustando o espaçamento para melhor alinhamento */
  text-align: center; /* Centralizando o texto */
  text-transform: uppercase;
  -webkit-background-clip: text; /* Aplica o gradiente apenas ao texto */
  -webkit-text-fill-color: transparent; /* Faz com que o texto seja transparente, mostrando o gradiente por trás */
}

.autopecas-content p{
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0; /* Reduzido o espaçamento superior e inferior */
}

.btn-descubra-agora{
  background-color: #ffd700; /* Amarelo suave para combinar com o esquema de cores do site */
  border: none;
  border-radius: 8px; /* Bordas arredondadas para um visual mais suave */
  color: #222; /* Cor do texto */
  cursor: pointer;
  font-size: 18px; /* Aumentar um pouco o tamanho da fonte */
  letter-spacing: 1px; /* Espaçamento entre as letras para melhor legibilidade */
  padding: 15px 40px;
  text-transform: uppercase; /* Texto em maiúsculas para uma aparência mais sofisticada */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave para o hover */
  width: 100%;
}

.btn-descubra-agora:hover{
  background-color: #f9a825; /* Tom mais escuro para o hover, em harmonia com o amarelo do botão */
  transform: scale(1.05); /* Efeito de aumento sutil ao passar o mouse para transmitir interatividade */
}
/* Fim Autopecas */

/* Início Rodapé */
footer{
  background-color: #222;
  color: #ddd;
  padding: 40px 10%;
  text-align: center;
}

footer a{
  color: #f9a825;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

footer .footer-section{
  margin-bottom: 20px;
}

footer .footer-section h4{
  color: #f9a825;
  font-size: 18px;
  margin-bottom: 10px;
}

footer .social-media a{
  display: inline-block;
  margin: 0 10px;
}

footer .social-media a .fa-brands{
  height: 24px;
  width: 24px;
}

footer .footer-bottom{
  border-top: 1px solid #444;
  color: #aaa;
  font-size: 14px;
  padding-top: 20px;
}
/* Fim Rodapé */





/* Adicionando estilos responsivos */
@media (max-width: 940px){
  .autopecas-container {
    align-items: center;
    flex-direction: column;
    margin: 50px 5%;
  }

  .autopecas-container img{
    max-width: 80%;
  }

  .autopecas-content{
    margin: 20px 0;
  }

  .cta-btn{
    width: 80%;
  }

  .grid-container{
    margin: 0 5%;
  }

  .header-menu{
    align-items: center;
    flex-direction: column;
  }

  .header-menu li{
    margin: 10px 0;
  }

  .insurance-item{
    margin: 20px 0;
    max-width: 80%;
  }

  .insurance-wrapper{
    align-items: center;
    flex-direction: column;
  }

  .message-container{
    margin: 0 5%;
  }
}

@media (max-width: 768px){
  .autopecas-container img{
    max-width: 90%;
  }

  .autopecas-content h1{
    font-size: 24px;
  }

  .autopecas-content p{
    font-size: 14px;
  }

  .cta-btn{
    width: 90%;
  }

  .header-menu a{
    font-size: 12px;
    padding: 8px 12px;
  }

  .header-title{
    font-size: 24px;
  }

  .insurance-item{
    max-width: 90%;
  }
}