@media (max-width: 1100px){
  .message-container{
    grid-template-columns: auto;
  }
}

@media (max-width: 940px){
  .car-section-title{
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
  }

  .section-title{
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
  }
  
  .insurance-item{
    max-width: 100%;
  }

  .autopecas-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px 5%;
  }

  .autopecas-container img{
    max-width: 100%;
  }

  .autopecas-content h1{
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
  }

  .autopecas-content{
    margin: 0 10%;
  }
}

@media (max-width: 768px){
  .header-container{
    position: relative;
    height: 30px;
  }

  .menu{
    display: none;
  }

  .btn-menu{
    display: inline;
  }

  .menu-mobile{
    display: inline;
    top: 60px;
  }

  .menu-mobile.open{
    height: 100vh;
    visibility: visible;
  }

  .menu-mobile .header-nav a{
    color: #fff;
    display: block;
    font-size: 16pt;
    padding: 30px 30px;
    text-decoration: none;
  }

  .menu-mobile .header-nav a:hover{
    background-color: #111111;
  }

  .message-container .fa-solid{
    font-size: 20px;
  }

  .car-item{
    width: 100%;
  }

  .insurance-wrapper{
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .autopecas-container{
    margin: 0;
  }

  .autopecas-container img{
    margin-top: 40px;
    width: 80%;
  }

  .autopecas-content{
    margin: 0 10%;
  }

  /* Página Serviços*/
  .main-service .section-service h1{
    font-size: 35px;
  }

  .btn-services-offered{
    width: 80%;
  }

  .wifi-services-content h1{
    font-size: 30px;
  }

  .wifi-services-content h2{
    font-size: 25px;
  }

  .wifi-services-list{
    display: flex;
    flex-direction: column;
  }

  .wifi-services-list{
    margin: 20px 0;
  }

  .additional-services-container img{
    max-width: 60%;
    width: 100%;
  }
}
