*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  font-family: 'Roboto', sans-serif;
}

:root {
  --gradient-color: linear-gradient(to right, #1e1e1e, #ff8c00);
  --text-clip: text;
  --text-color: #ff8c00;
  --text-fill: transparent;
}

/* Início Cabeçalho */
.header{
  background: linear-gradient(135deg, #0c1c3a, #092b51);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 30px 0;
  position: sticky;
  top: -100px;
  transition: top 0.5s ease-in-out;
  width: 100%;
  z-index: 1000;
}

.header-container{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 10%;
}

.header-title{
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  transition: transform 0.5s ease;
}

.header-title:hover{
  transform: translateX(10px);
}

.header-title a{
  color: #fff;
  text-decoration: none;
}

.menu{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a{
  color: #fff;
  font-weight: bold;
  margin-left: 40px;
  position: relative;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:before{
  background-color: #ffd700;
  bottom: -5px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  width: 100%;
}

.menu a:hover:before{
  transform: scaleX(1);
}

.btn-menu{
  background: transparent;
  border: 4px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: none;
  height: 60px;
  width: 60px;
}
.btn-menu.active{
  border: 4px solid red;
  transition: 0.5s ease-in-out;
}

.btn-menu.active .linha:nth-child(1){
  background-color: red;
  transform: translateY(10px) rotate(-45deg);
}

.btn-menu.active .linha:nth-child(2){
  background-color: #0c1c3a;
  width: 0;
}

.btn-menu.active .linha:nth-child(3){
  background-color: red;
  transform: translateY(-15px) rotate(45deg);
}

.btn-menu .linha{
  background-color: #e0e0e0;
  display: block;
  height: 5px;
  margin: 7px auto;
  width: 30px;

  position: relative;
  transform-origin: center;
  transition: 0.5s ease;
}

.menu-mobile{
  background: linear-gradient(135deg, #0c1c3a, #092b51);
  display: none;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: 0.5s ease-in-out;
  visibility: hidden;
  width: 100%;
}
/* Fim Cabeçalho */

/* Início Banner */
.banner{
  position: relative;
}

.banner-img{
  position: relative;
}

.banner-img img{
  height: calc(100vh - 30px);
  object-fit: cover;
  width: 100%;
  filter: brightness(30%);
}

.banner-overlay h2{
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}

.banner-overlay p{
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}

.banner-overlay{
  left: 50%;
  margin-bottom: 30px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner-overlay .btn{
  background-color: #ffd700;
  border-radius: 10px;
  color: #222;
  display: inline-block;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.banner-overlay .btn:hover{
  background-color: #f9a825;
}
/* Fim Banner */

/* Início Mensagem */
.message-container{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10%;
  max-width: auto;
  padding: 80px 0;
}

.message-content::after{
  border-bottom: 2px solid transparent;
  border-radius: 10px;
  border-left: 2px solid transparent;
  bottom: -2px;
  content: '';
  left: -2px;
  position: absolute;
  transition: .5s ease-in-out;
  width: 0px;
}

.message-content:hover::after{
  border-bottom: 2px solid #ffd700;
  border-left: 2px solid #ffd700;
  height: 100%;
  width: 100%;
}

.message-content::before {
  border-right: 2px solid transparent;
  border-radius: 6px;
  border-top: 2px solid transparent;
  content: '';
  position: absolute;
  right: -2px;
  top: -2px;
  transition: .5s ease-in-out;
  width: 0px;
}

.message-content:hover::before{
  border-right: 2px solid #ffd700;
  border-top: 2px solid #ffd700;
  height: 100%;
  width: 100%;
}

.message-content{
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.message-content:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.message-content .fa-solid{
  color: #ffd700;
  font-size: 30px; 
  margin-bottom: 20px;
}

.message-content h2{
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.message-content p{
  color: #666;
  line-height: 1.6;
}
/* Fim Mensagem */

/* Início Lista de Carros */
.car-section-title{
  background: var(--gradient-color);
  background-clip: var(--text-clip);
  color: var(--text-color);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  -webkit-background-clip: var(--text-clip);
  -webkit-text-fill-color: var(--text-fill);
}

.car-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10%;
}

.car-item{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
  width: calc(50% - 15px);
}

.car-item:hover{
  transform: translateY(-5px);
}

.car-item img{
  border-radius: 10px 10px 0 0;
  height: 70%;
  width: 100%;
  transition: transform 0.3s ease;
}

.car-item img:hover{
  transform: skew(0.5deg, 0.5deg);
}

.car-item h3{
  color: #333;
  font-size: 24px;
  margin: 20px 0 10px;
  text-align: center;
}

.car-item p{
  color: #666;
  text-align: center;
  flex-grow: 1;
}

.car-item a{
  background-color: #ffd700;
  border: none;
  border-radius: 0 0 10px 10px;
  color: #222;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.car-item a:hover{
  background-color: #f9a825;
}
/* Fim Lista de Carros */

/* Início Seção de Seguros de Carros */
.insurance{
  background-color: #f9f9f9;
  padding: 60px 0;
}

.insurance-container{
  margin: 0 10%;
}

.section-title{
  background: var(--gradient-color);
  background-clip: var(--text-clip);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  -webkit-background-clip: var(--text-clip);
  -webkit-text-fill-color: var(--text-fill);
}

.insurance-wrapper{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}

.insurance-item{
  flex: 0 1 calc(50% - 20px);
  margin-bottom: 40px;
  max-width: calc(50% - 20px);
  text-align: center;
}

.insurance-item img{
  border-radius: 10px;
  max-width: 100%;
}

.insurance-text{
  font-size: 18px;
  line-height: 1.8;
}

.btn-saiba-mais{
  background-color: #ffd700;
  border: none;
  border-radius: 5px;
  color: #222;
  cursor: pointer;
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 250px;
}

.btn-saiba-mais:hover{
  background-color: #f9a825;
  transform: scale(1.05);
}
/* Fim Seção de Seguros de Carro */

/* Início Autopecas */
.autopecas-container{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 100px 10%;
}

.autopecas-container img{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  max-width: 50%;
}

.autopecas-content{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  padding: 20px;
}

.autopecas-content h1{
  background: var(--gradient-color);
  background-clip: var(--text-clip);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 20px 0 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-background-clip: var(--text-clip);
  -webkit-text-fill-color: var(--text-fill);
}

.autopecas-content p{
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0;
}

.btn-descubra-agora{
  background-color: #ffd700;
  border: none;
  border-radius: 8px;
  color: #222;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 15px 40px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
}

.btn-descubra-agora:hover{
  background-color: #f9a825;
  transform: scale(1.05);
}
/* Fim Autopecas */

/* Início Rodapé */
footer{
  background-color: #222;
  color: #ddd;
  padding: 40px 10%;
  text-align: center;
}

footer a{
  color: #f9a825;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

footer .footer-section{
  margin-bottom: 20px;
}

footer .footer-section h4{
  color: #f9a825;
  font-size: 18px;
  margin-bottom: 10px;
}

footer .social-media a{
  display: inline-block;
  margin: 0 10px;
}

footer .social-media a .fa-brands{
  height: 24px;
  width: 24px;
}

footer .footer-bottom{
  border-top: 1px solid #444;
  color: #aaa;
  font-size: 14px;
  padding-top: 20px;
}
/* Fim Rodapé */





/* Página de Serviços */
.main-service{
  align-items: center;
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding: 40px 0;
  width: 100%;
}

.section-service{
  margin-bottom: 20px;
  text-align: center;
}

.section-service h1{
  background: var(--gradient-color);
  background-clip: var(--text-clip);
  color: var(--text-color);
  font-size: clamp(1rem, 2vw + 2rem, 2.7rem);
  margin-bottom: 20px;
  text-transform: uppercase;
  -webkit-background-clip: var(--text-clip);
  -webkit-text-fill-color: var(--text-fill);
}

.section-service p{
  font-size: clamp(1rem, 2vw + 1rem, 1.5rem);
  margin: 0 5% 40px 5%;
}

.service-hr{
  border: none;
  border-top: 2px solid #ccc;
  margin-bottom: 40px;
  width: 80%;
}

.service-images{
  display: flex;
  justify-content: center;
  width: 100%;
}

.service-images-content{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 80%;
}

.service-images-content img{
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  max-width: 300px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 100%;
}

.service-images-content img:nth-last-child(2){
  position: relative;
  top: 15px;
}

.maintenance-container{
  font-family: 'Roboto', sans-serif;
  padding: 100px 10%;
  text-align: center;
  width: 100%;
}

.maintenance-container h2{
  background: var(--gradient-color);
  background-clip: var(--text-clip);
  color: var(--text-color);
  font-size: 3rem;
  padding: 10px;
  -webkit-background-clip: var(--text-clip);
  -webkit-text-fill-color: var(--text-fill);
}

.maintenance-container p{
  font-size: 20px;
  line-height: 1.6;
  padding: 10px 0;
}

.maintenance-container .services-offered{
  border-bottom: 2px solid #0c1c3a;
  margin: 20px 0 5px 0;
}

.maintenance-container .services-ul{
  list-style-type: none;
  padding: 0;
}

.maintenance-container .services-ul li{
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.maintenance-container li:hover{
  background-color: #e0e0e0;
}

.maintenance-container a{
  color: #000000;
  text-decoration: none;
}

.services-copywriting h3{
  color: #1e1e1e;
  text-transform: uppercase;
  padding-top: 40px;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.btn-services-offered{
  animation: heartbeat 2s infinite;
  background-color: #ffd700;
  border: none;
  border-radius: 10px;
  color: #222;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 10px auto 0 auto;
  padding: 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease;
  width: 50%;
}

.btn-services-offered:hover{
  background-color: #f9a825;
}

/* Auto Parts Sales Section */
.autoPartsSales{
  background-color: #f2f2f2;
  padding: 50px 0;
  text-align: center;
}

.autoPartsSalesContent{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.autoPartsSales h2{
  font-size: 32px;
  margin-bottom: 20px;
}

.autoPartsSales p{
  font-size: 18px;
  margin-bottom: 40px;
}

.autoPartsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.autoPartItem{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.autoPartItem img{
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.autoPartItem h3{
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

.autoPartItem p{
  font-size: 16px;
  margin: 0;
  padding: 0 10px;
}

.autoPartItem .btn-saiba-mais{
  align-self: center;
  background-color: #007bff;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.autoPartItem .btn-saiba-mais:hover{
  background-color: #0056b3;
}